body {
	font-family: Gotham, Arial, 'sans serif';
	line-height: 2em;
}

.nav-item {
	display: inline-block;
	width: 150px;
	height: 70px;
	margin-top: 40px;
}

#header-title {
	width: 50%;
	margin: 30px 0 0 30px;
}

h2#header-title {
	float: left;
}