body {
	font-family: Helvetica, Arial, 'sans serif';	
}

#wrap {

}

#organization-list {
}

.organization-list-item {
	padding: 20px;
	border-bottom: 1px solid #eeeeee;
}

	.organization-description-short {
		
	}

	.organization-more {
		
	}