header {
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100px;
	margin: 0;
	background-color: #000;
}

#wrap {
	width: 960px;
	margin: 150px auto auto auto;
}

.organization-list-item {
	padding: 20px;
	border-bottom: 1px solid #eeeeee;
	height: 140px;
}
	
	.organization-logo img {
		width: 100px;
		height: 100px;
		margin-right: 20px;
		float: left;
	}

.organization-title {
	font-size: 16pt;
	font-weight: bold;
}

	.organization-description-short {
		width: 700px;
		height: 75px;
		float: left;
	}

	.organization-more {
		text-align: right;
		width: 100px;
		float: left;
	}

.organization-description img {
	width: 40%;
	height: 40%;
	padding-right: 20px;
}